<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="AWSProfileName" value="ChangeProfileName"/>
		<add key="AWSRegion" value="ChangeRegion" />
    <add key="AWSAccessKey" value="ChangeThisAccessKey" />
    <add key="AWSSecretKey" value="ChangeThisSecretKey" />
	</appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
